.header
	+clr
	position: relative
	background-color: #fbfbfc
	font-size: 13px
	font-weight: 400
	color: #86878c
	text-transform: uppercase 
	line-height: 20px

	&__lang
		position: absolute
		top: 0
		right: 0
		.lang__link
			display: inline-block
			margin-left: 25px 
		.lang__link_active
			padding: 7px 7px 6px
			border: 2px solid #fdd275
			border-top: none 

	&__logo
		float: left
		margin-top: 16px
		margin-bottom: 10px 
		img
			float: left
			margin-right: 20px 

		&__text
			float: left
			margin-top: 10px 
			text-transform: uppercase
			font-weight: 300
			color: black
			width: 85px

	&__social
		float: left
		margin-top: 25px
		margin-left: 20px 
		li
			float: left

	& .currency
		float: left
		margin-top: 27px
		margin-left: 20px 
	.currency__item
		display: inline-block
		margin-left: 25px 
	.currency__link
		display: inline-block
		color: #111 

	&__search
		float: left
		height: 23px
		line-height: 22px 
		margin-top: 27px
		margin-left: 30px 
		padding-left: 38px
		padding-right: 5px 
		display: block
		background-color: transparent 
		text-transform: uppercase
		position: relative
		-webkit-border-radius: 4px 
		border-radius: 4px 
		&:before
			content: ""
			display: inline-block
			width: 22px
			height: 22px  
			position: absolute
			left: 1px
			top: 1px
			background: url(../img/search.png)
		&:hover
			-webkit-box-shadow: 0 0 2px 2px #aaa 
			box-shadow: 0 0 2px 2px #aaa 

	&__nav
		float: right
		margin-top: 10px 

		.menu__list
			float: right
			margin: 0
			padding: 0ы
			font-size: 0
			height: 25px
			.menu__item
				font-size: 15px 
				display: inline-block
				margin-left: 25px 
				height: 25px
				line-height: 25px 
				.menu__link
					display: block
					color: #3c67ab
					font-weight: 400
					text-transform: uppercase
					line-height: 25px 
				.is-active
					padding: 0.5px 7.5px 
					background-color: #fdd275
					color: #000 

			.menu__item:first-child
				margin-left: 0 
			.menu__item:nth-child(2)
				margin-left: 15px 
	
