.news__header
	margin: 15px 20px 0 
	font-size: 15px
	font-weight: 700
	text-transform: uppercase
.news
	+clr

.news__block
	+clr
	float: left
	max-width: 50%
	margin: 20px 0

.news__img
	height: 165px
	width: 100%
	margin-bottom: 15px 
	
.news__title
	font-size: 20px
	font-weight: 300
	margin-left: 20px
	line-height: 20px

.news__date
	display: inline-block
	margin: 10px 0 10px 20px
	color: #b3b3b3
	line-height: 1.4em

.news__category
	display: inline-block
	background-color: #fdd275
	color: #45495a
	line-height: 1.4em
	padding: 0 7px
	margin-left: 4px 
	&:hover
		-webkit-border-radius: 0 6px 0 6px 
		border-radius: 0 6px 0 6px 
	
.news__text
	margin-left: 20px
	line-height: 20px