.sidebar__article
	width: 100%
	height: 250px
	position: relative
	background: #fff

	img
		position: absolute
		top: 0
		width: 100%
		height: 100%
	.blind
		position: absolute
		top: 0
		width: 100%
		height: 100%
		background-color: #000
		opacity: 0.6

.article__title
	position: relative
	width: 213px 
	top: 90px
	left: 20px  
	color: white
	font-size: 20px
	font-weight: 400 
	line-height: 24px


.article__photo
	display: inline-block
	padding-left: 30px
	position: relative
	top: 150px
	left: 10px 
	font-size: 15px
	color: #fff
	&:before
		content: ""
		display: block
		width: 24px
		height: 20px 
		background: url(../img/icon-photo.png) 
		position: absolute
		top: 0
		left: 0  

.article__watchers
	@extend .article__photo
	margin-left: 30px 
	&:before
		content: ""
		display: block
		width: 22px
		height: 12px
		background: url(../img/icon-eye.png) 
		position: absolute
		top: 4px
		left: 3px

.article__desc
	position: absolute
	top: 250px - 67px
	width: 100%
	height: 67px
	background-color: #ff8c1b
	color: #fff
	font-size: 13px

	.desc__title
		font-size: 20px
		margin-top: 15px
		margin-left: 10px  
	
	.desc__date
		display: inline-block
		margin-left: 10px 
	.desc__time
		@extend .desc__date
		
.article__menu__title
	text-transform: uppercase
	font-size: 15px
	font-weight: 700
	margin: 25px 0 10px 20px
	
.article__menu
	margin-left: 20px 

.article__menu__link
	display: inline-block

	font-size: 15px
	font-weight: 400
	line-height: 30px

.help__project
	display: block
	position: relative
	width: 270px
	height: 67px
	background-color: #77ba1f

	&:before
		content: ""
		position: absolute
		top: 0 
		left: 10px
		background: url(../img/logo_white.png) no-repeat left center
		width: 100%
		height: 100%  
	&:after
		content: ""
		position: absolute
		top: 0
		right: -12px
		display: block
		background-color: #77ba1f
		height: 67px
		width: 30px
		-webkit-transform: skewX(-20deg) 
		-moz-transform: skewX(-20deg) 
		-ms-transform: skewX(-20deg) 
		-o-transform: skewX(-20deg) 
		transform: skewX(-20deg) 
	div
		color: white
		font-size: 17px
		font-weight: 400
		line-height: 67px
		text-transform: uppercase
		position: absolute
		top: 0 
		left: 68px 
		z-index: 2
	&:hover
		filter: drop-shadow(5px 5px 3px #000)
		// -webkit-box-shadow: 2px 2px 2px 0 rgba 
		// box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5)
