
.slider__bottom
	width: 100%
	height: auto
	background-color: #fff
	overflow: hidden
	display: flex
.slider__item
	width: 30%
	height: 100%
	.slider__desc
		color: black
		font-size: 15px
		line-height: 20px
		margin-left: 20px
		margin-right: 50px 
		font-weight: 400
	.slider__date
		@extend .news__date