<div class="about">
	<div class="about__info">

		<div class="about__text">Громадська організація «Український Діловий Союз» (надалі – УДС) є  неприбутковим громадським формуванням, створеним за ініціативою громадян та підприємців, на принципах єдності інтересів, добровільності та рівноправності, відповідно до вимог Закону України «Про об'єднання громадян», з метою реалізації цілей передбачених цим Статутом, захисту прав і свобод членів організації.
		</div>
		<div class="about__author">Глава УДС, Кружков Владимир Геннадьевич</div>
	</div>
	<div class="about__project"><a href="#">
		<img class="about__project__img" src="img/work1.jpg" alt="">
		<div class="about__project__blind">
			<h4 class="about__project__title">Зеленый николаев</h4>
		</div></a>
	</div>
	<div class="about__project"><a href="#">
		<img class="about__project__img" src="img/work2.jpg" alt="">
		<div class="about__project__blind">
			<h4 class="about__project__title">Юридическая безопасность</h4>
		</div></a>
	</div>
</div>