<footer class="footer">
	<div class="wrapper">
		<div class="footer__copyright">
			<div class="footer__copy">© 2013–2015 Общественная организация «Украинский Деловой Союз»</div>
			<div class="footer__copy_rule">Перепечатка материала без обратной гиперссылки запрещена!</div>
		</div>
		<div class="footer__social">
			<ul class="social__buttons">
				<li class="social__button"><a href="#" class="social__link"><img src="img/icon-tw-white.png" alt=""></a></li>
				<li class="social__button"><a href="#" class="social__link"><img src="img/icon-fb-white.png" alt=""></a></li>
				<li class="social__button"><a href="#" class="social__link"><img src="img/icon-g+-white.png" alt=""></a></li>
				<li class="social__button"><a href="#" class="social__link"><img src="img/icon-youtube-white.png" alt=""></a></li>
			</ul>
		</div>
		<button class="helpful">
			<span class="helpful__burger"></span>
			<span class="helpful__text">Полезные ссылки</span>
		</button>
	</div>
</footer>