<article class="sidebar__article">
	<img src="img/sidebar_news_2.jpg" alt="">
	<div class="blind"></div>
	<h3 class="article__title">Совместная поездка СБУ и УДС в кабинет Министров Украины</h3>
	<div class="article__photo">7</div>
	<div class="article__watchers">178</div>
</article>

<article class="sidebar__article">
	<img src="img/sidebar_news_3.jpg" alt="">
	<div class="blind"></div>
	<h3 class="article__title">Помощь в получении разрешения на строительство моста</h3>
	<div class="article__photo">9</div>
	<div class="article__watchers">253</div>
</article>

<article class="sidebar__article">
	<img src="img/shuster.jpg" alt="">
	<div class="article__desc">
		<div class="desc__title">Савик Шустер</div>
		<div class="desc__date">1.09.2015</div>
		<div class="desc__time">19:00</div>
	</div>
</article>

<article class="sidebar__article">
	<h2 class="article__menu__title">Пресс-центр</h2>
	<ul class="article__menu">
		<li class="article__menu__item"><a href="#" class="article__menu__link">События в Николаеве</a></li>
		<li class="article__menu__item"><a href="#" class="article__menu__link">Новости Украины</a></li>
		<li class="article__menu__item"><a href="#" class="article__menu__link">Деловые новости</a></li>
		<li class="article__menu__item"><a href="#" class="article__menu__link">Видео-интервью</a></li>
		<li class="article__menu__item"><a href="#" class="article__menu__link">Деятельность УДС</a></li>
	</ul>
</article>

	<button class="help__project"><div>Как помочь проекту</div></button>
