<div class="slider">
	<div class="slider__item">
		<img src="img/top_slider_bg.png" alt="aaaa">
		<div class="slider__item_blind"></div>
		<a href="#"><div class="slider__head">Агрономия</div></a>
		<div class="slider__text">Специальная программа для агросектора</div>
	</div>
	<div class="slider__item">
		<img src="img/top_slider_bg.png" alt="aaaa">
		<div class="slider__item_blind"></div>
		<a href="#"><div class="slider__head">2222</div></a>
		<div class="slider__text">Специальная программа для агросектора 22222222</div>
	</div>
	<div class="slider__item">
		<img src="img/top_slider_bg.png" alt="aaaa">
		<div class="slider__item_blind"></div>
		<a href="#"><div class="slider__head">33333</div></a>
		<div class="slider__text">Специальная программа для агросектора 3333</div>
	</div>
<!-- 	<a class="prev" onclick="plusSlides(-1)">&#10096</a>
	<a class="next" onclick="plusSlides(1)">&#10097</a> -->
</div>