<div class="slider__wrapper">
	<div class="slider">
		<div class="slider__item slider__item1">
			<img src="img/top_slider_bg.png" alt="aaaa">
			<div class="slider__item_blind"></div>
			<a href="#"><div class="slider__head">Агрономия</div></a>
			<div class="slider__text">Специальная программа для агросектора</div>
		</div>

		<div class="slider__item slider__item1">
			{# <img src="img/top_slider_bg.png" alt="aaaa"> #}
			<div class="slider__item_blind"></div>
			<a href="#"><div class="slider__head">2222</div></a>
			<div class="slider__text">Специальна агросектора 22222222</div>
		</div>

		<div class="slider__item slider__item1">
			{# <img src="img/top_slider_bg.png" alt="aaaa"> #}
			<div class="slider__item_blind"></div>
			<a href="#"><div class="slider__head">33333</div></a>
			<div class="slider__text">Специальная 33333333333</div>
		</div>
	</div>
</div>