<div class="wrapper">
	<div class="slider__bottom">
		<div class="slider__item">
			<img src="img/footer-slide1.jpg" alt="" class="slider__img">
			<div class="slider__desc">Заседание УДС по срочным вопросам</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
		<div class="slider__item">
			<img src="img/footer-slide2.jpg" alt="" class="slider__img">
			<div class="slider__desc">УДС договорился о разводке Варваровского моста</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
		<div class="slider__item">
			<img src="img/footer-slide3.jpg" alt="" class="slider__img">
			<div class="slider__desc">Вызвали МЭРА на ковер в УДС</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
		<div class="slider__item">
			<img src="img/footer-slide2.jpg" alt="" class="slider__img">
			<div class="slider__desc">Строительство Моста продолжаетсяосам</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
		<div class="slider__item">
			<img src="img/footer-slide2.jpg" alt="" class="slider__img">
			<div class="slider__desc">УДС договорился о разводке Варваровского моста</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
		<div class="slider__item">
			<img src="img/footer-slide3.jpg" alt="" class="slider__img">
			<div class="slider__desc">Вызвали МЭРА на ковер в УДС</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
		<div class="slider__item">
			<img src="img/footer-slide2.jpg" alt="" class="slider__img">
			<div class="slider__desc">УДС договорился о разводке Варваровского моста</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
		<div class="slider__item">
			<img src="img/footer-slide3.jpg" alt="" class="slider__img">
			<div class="slider__desc">Вызвали МЭРА на ковер в УДС</div>
			<div class="slider__date">1 августа, 2015</div>
		</div>
	</div>
</div>