{% set

news = [
	{
		img: 'img/news1.jpg',
		title: 'В Украине запускают оформление загранпаспорта в онлайне',
		date: '4 августа, 2015',
		category: 'IT новости',
		category_href: '#',
		text: 'Портал государственных услуг iGov подключил очередной набор тех сервисов, которыми граждане могут пользоваться, не отходя от компьютера.',
		href: '#'
	},
	{
		img: 'img/news2.jpg',
		title: 'Конкурс на пост директора Ильичевского морпорта может быть снова отменен',
		date: '3 августа, 2015',
		category: 'Новости Украины',
		category_href: '#',
		text: 'В Мининфраструктуры не исключают отмену конкурса на должность директора Ильичевского порта',
		href: '#'
	},
	{
		img: 'img/news3.jpg',
		title: 'Еврогруппа одобрила выделение Греции 26 млрд евро',
		date: '2 августа, 2015',
		category: 'Бизнес новости',
		category_href: '#',
		text: 'Выделение первого транша из нового пакета помощи Греции одобрили главы финансовых ведомств стран еврозоны.',
		href: '#'
	},
	{
		img: 'img/news4.jpg',
		title: 'С «Николаевского бронетанкового завода» взыскали 1,7 миллиона гривен',
		date: '1 августа, 2015',
		category: 'Николаевские новости',
		category_href: '#',
		text: 'Военная прокуратура Южного региона Украины взыскала в интересах государства штрафных санкций на сумму 1,7 миллиона гривен',
		href: '#'
	}

] 

%}

<!-- {% set

post = [
	{
	class: 'news__post',
	date: '22.06.14 - 7:24',
	text: 'Председатель парламента Александр Турчинов обратился к людям, заблокировавшим улицу Грушевского, прямо из зала.',
	href: '#',
	img_photo: false
	}
]

%} -->
