{% set 
header_menu = [
	{
		title: 'УДС',
		href: '#',
		class: 'header__menu__link',
		class2: ''
	},
	{
		title: 'Проекты',
		href: '#',
		class: 'header__menu__link',
		class2: ''
	},
	{
		title: 'Материалы',
		href: '#',
		class: 'header__menu__link',
		class2: ''
	},
	{
		title: 'Пресс-центр',
		href: '#',
		class: 'header__menu__link',
		class2: ''
	},
	{
		title: 'Галерея',
		href: '#',
		class: 'header__menu__link',
		class2: ''
	},
	{
		title: 'Контакты',
		href: '#',
		class: 'header__menu__link',
		class2: ''
	}
] 
%}

<!-- {% set 
footer_menu = [
	{
		title: 'Об издании',
		href: '#'
	},
	{
		title: 'Рекламодателям',
		href: '#'
	},
	{
		title: 'Соглашения и правила',
		href: '#'
	},
	{
		title: 'Помощь',
		href: '#'
	},
	{
		title: 'Контакты',
		href: '#'
	}
]
%} -->